[dev-packages]
pipenv = "*"
pytest = "== 7.1.2"
coverage = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-mccabe = "*"
"pytest-pep8" = "*"
pytest-pythonpath = "*"
pytest-sugar = "*"
tox = "*"
black = "==18.6b4"
white = "*"

[packages]
attrs = "==22.1.0"
pyyaml = "*"
future = "*"
singledispatch = {version = "*", markers = "python_version<'3.4'"}
python-dateutil = "*"
